img {
  width: 300px;
}

.taggedImage {
  /* float: left; */
  margin: 10px;
}

.image-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.images .search {
  width: 300px;
  margin-top: 10px;
  margin-left: 12px;
}
